[submodule "s1disasm"]
	path = s1disasm
	url = https://github.com/sonicretro/s1disasm.git
[submodule "src_backend_desktop/lib/raylib5"]
	path = src_backend_desktop/lib/raylib5
	url = https://github.com/raysan5/raylib.git
